@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

:root {
  --primary-color: #000839;
  --primary-shades: #00020b;
  --para-color: #80849c;
  --helper-color: #1264fa;
  --white: #fff;
}

img {
  display: inline-block;
  width: 100%;
}

h1,
h2,
h3,
h4 {
  color: var(--primary-color);
}

.para {
  color: var(--para-color);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
}

/* -----------------------------------------------------
                Header & Navbar Style Start 
--------------------------------------------------------*/

.header {
  height: 9.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.4rem;
  position: relative;
}

.logo {
  font-size: 3rem;
  font-weight: bold;
}

.navbar {
  display: flex;
  align-items: center;
}
.navlist {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.navlist .navbtn {
  padding: 1.2rem 2.4rem;
  border: 1px solid var(--helper-color);
  background-color: var(--white);
  color: var(--helper-color);
  border-radius: 5rem;
  transition: 0.3s all ease-in-out;
}

.navlink:hover,
.navlink:active {
  color: var(--helper-color);
}

.navbtn:hover,
.navbtn:active {
  background-color: var(--helper-color);
  color: white;
}

.navlink {
  text-transform: uppercase;
}

.mobile-navbar {
  font-size: 4rem;
  color: var(--primary-color);
  display: none;
}

.icons[name="close"] {
  display: none;
}

/* -----------------------------------------------------
                Reusable code
--------------------------------------------------------*/

.section {
  padding: 9.6rem 0;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  gap: 9.6px;
}

.grid-two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn {
  text-transform: uppercase;
  font: 1.8rem;
  padding: 1.6rem 3.2rem;
  border-radius: 10rem;
  background-color: var(--helper-color);
  color: var(--white);
  transition: 0.2s linear;
}

.btn:hover,
.btn:active {
  transform: scale(1.05);
}

/* -----------------------------------------------------
                Hero Section
--------------------------------------------------------*/

.section-hero {
  position: relative;
}

.section-hero::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 9.6rem;
  right: 0;
  width: 30%;
  height: 50%;
  z-index: -1;

  background-color: #e6e6eb;
}

.primary-heading {
  font-size: 6rem;
  font-weight: 700;
}

.section-hero .para {
  margin-top: 2rem;
  margin-bottom: 3.2rem;
}

.hero-icons {
  margin-top: 4.2rem;
}

.hero-icons .icon {
  font-size: 7rem;
  color: var(--primary-color);
  position: relative;
}

.hero-icons .icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 60%;
  background-color: var(--helper-color);
  border-radius: 50%;
  opacity: 0.6;
}

.hero-icons h2 {
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
}

.section-hero .hero-icon .para {
  line-height: 1.6;
  font-size: 1.4rem;
  margin: 0;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.hero-image img {
  height: 90%;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.1);
}

.image-overlay {
  position: absolute;
  bottom: 0;
  background-color: var(--primary-color);
  left: -10%;
  padding: 4rem;
  color: var(--white);
}

.image-overlay .para {
  color: var(--white);
}

/* Media Query */

@media (max-width: 1250px) {
  .container {
    padding: 0 6rem;
  }

  html {
    font-size: 56.25%;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 960px;
  }

  .section-hero .grid-two-column {
    grid-template-columns: 1fr;
  }

  .section-hero .hero-icons .grid-two-column {
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(100%);
    transition: all 0.3s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar .navlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .navbar .navlink {
    color: var(--white);
  }

  .mobile-navbar {
    display: block;
    z-index: 999999;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 9999;
    
  }

  .active .mobile-navbar .icons[name="close"] {
    display: block;
    color: var(--white);
    z-index: 9999;
  }

  .active .mobile-navbar .icons[name="menu"] {
    display: none;
    color: var(--white);
  }

  .section::before {
    height: 30%;
  }

  .hero-image img {
    width: 60%;
  }

  .image-overlay {
    transform: translateX(0);
    width: 80%;
    left: 0;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .hero-image img {
    width: 80%;
  }

  .section::before {
    height: 5%;
  }

  .image-overlay {
    width: 90%;
    left: 0;
    height: 60%;
  }

  .image-overlay .para {
    font-size: 1rem;
  }
}
